.nft_more{
    width: 90%;
    margin-top: 200px;
    margin-bottom: 5vh;
    margin-left: 100px;

    .top{
        width: 100%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div{
            h2{
            font-size: 36px;
            color: white;
            }
            p{
                color: white;
                font-size: 20px;
                margin-bottom: 50px;
            }
        }
        
        button{
            border: 1px rgba(162, 89, 255, 1) solid;
            width: 267px;
            height: 60px;
            background-color: rgba(162, 89, 255, 0);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            a{
                color: white;
                font-size: 16px;
               
              
            }
            img{
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }
    }
    .bot{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}