.head
{
   display: flex;
   justify-content: space-between;
    width: 1280px;
    height: 120px;
}

.photos
{
 width: 32px;
 height: 32px;
}

.ulika
{
display: flex;
    
    h1
    {
        color: white;
        font-size: 15px;

    }
}
.bulka
{
display: flex;
width: 152px;
height: 50px;
gap: 12px;
color: white;
border-radius: 20px;
background: #A259FF;
justify-content: space-around;
align-items: center;
border: none;
}
.ulika1
{
display: flex;
height: 100px;

    a
    {
        font-size: 16px;
        width: 139px;
        color: white;
        margin-right: 5%;
    }
}