.Konech
{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 40px;

}

.levo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    h1 
    {
        color: white;
        font-size: 22px;
        width: 250px;
      

    }
    img 
    {
        
        width: 32px;
        height: 32px;
    }
    p 
    {
        color: rgba(204,204,204,1);
        text-align: left;
        margin-left: 50px;
        font-size: 16px;
    }
}

.Konechi 
{
    display: flex;
        align-items: center;
}
.photo
{
    margin-left: 50px;

    img 
    {
        margin-left: 10px;
    }
}

.center
{
    margin-right: 100px;
        h2 
        {
                color: white;
                font-size: 22px;
                text-align: left;
        }
        p 
        {
           color: rgba(204,204,204,1);
           text-align: left;
           font-size: 16px;
        }
}

.pravo
{
    margin-right: 250px;
    h1 
    {
            color: white;
            font-size: 22px;
    }

    p 
    {
        width: 220px;
        color: rgba(204,204,204,1);
        font-size: 16px;
        text-align: left;
    }
}
.inbut 
{
   width: 220px;
    input 
    {
        width: 200px;
        height: 45px;
        border-radius: 20px;
    }
    button 
    {
        width: 120px;
        height: 45px;
        position: absolute;
        margin-right: 10px;
    gap: 12px;
    opacity: 1;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
        background-color: #A259FF;
        color: white;
    }
}

.holl
{
    width: 1200px;
        height: 40px;
       border-top: 1px solid #858584;
       margin-left: 50px;
    p 
    {
        
        color: #858584;
      margin-right: 1000px;
      font-size: 12px;
       
    }
}